@import url('https://fonts.googleapis.com/css?family=DM Sans');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: white;*/
    
}

li, a, button {
    font-family:'DM Sans', 'sans-serif';
    color: #000c66;
    text-decoration: none;
}

ul{
    list-style: none;
}


.navbar{
    background: white;
    background-size: 100px 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1px 10%;
    
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    margin-top: 45px;
}


header {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/skyline.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 1px 10%;
    color: rgb(255, 255, 255);
}
.header-content {
    margin-bottom: 150px;
    color: rgb(255, 255, 255);
    text-align: left;
}

.header-content h1 {
    font-size: 8vmin;
    margin-top: 50px;
    margin-bottom: 10px;
}
.header-content p {
    font-size: 3vmin;
    margin-bottom: 30px;
}
.ctn {
    padding: 8px 6px;
    background:white;
    border-radius: 15px;

}
.menu-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    left: 30px;
    cursor: pointer;
}
.navbar img {
    width: 110px;
    height: 110px;
}
#menu-toggle {
    display: none;
}
.menu-button {
    display: none; 
    cursor: pointer;
    font-size: 24px;
}

@media only screen and (max-width: 850px) {

    .navbar {
        padding: 1px 5%;
        background: white;
        background-size: 100px 100px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;   
    }
    .nav_links li {
        padding: 0px 10px;
        margin-top: 20px;
    }
    #menu-toggle:checked + .menu-button + .nav_links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-content h1 {
        font-size: 5vmin;
    }
    .header-content p {
        font-size: 2vmin;
    }
    .navbar img {
        width: 80px;
        height: 80px;
    }
    .nav_links {
        display: none; 
    }

    .menu-button {
        display: block; 
        cursor: pointer;
        font-size: 24px;
    }
    #menu-toggle:checked + .menu-button {
        display: block;
    }
}